In [1]:
import pandas as pd
import math, random
from IPython.core.display import display

def gen_empty_schedule(days, times, busses=None):
    return pd.DataFrame("", index=times, columns=days)

schedule = gen_empty_schedule(["MON", "TUE","WED","THU", "FRI"], times=["6pm", "7pm", "8pm"])
display(schedule)

def gen_possible_locations(census_block_df):
    return ["A", "B", "C"] # RETURN CENTROIDS of BLOCKS

def get_location_utility(utility_map, location):
    pass

locations = gen_possible_locations(None)
utility = None # TODO

def fill_spot(schedule, locations):
    for row in schedule.index:
        for col in schedule.columns:
            if schedule.loc[row, col] == "":# 
                schedule.loc[row, col] = random.choice(locations)
                # TODO: choose one location to fill this spot by
                # considering utility (get_location_utility)
                #
                # TODO: update the utility map after adding this
                return
            
def score_schedule(schedule):
    pass # return score based on utility map and schedule
            
for i in range(9):
    fill_spot(schedule, locations)
    display(schedule)

    MON TUE WED THU FRI
6pm
7pm
8pm

    MON TUE WED THU FRI
6pm   A
7pm
8pm

    MON TUE WED THU FRI
6pm   A   B
7pm
8pm

    MON TUE WED THU FRI
6pm   A   B   A
7pm
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B
7pm
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B   A
7pm
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B   A
7pm   B
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B   A
7pm   B   A
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B   A
7pm   B   A   A
8pm

    MON TUE WED THU FRI
6pm   A   B   A   B   A
7pm   B   A   A   B
8pm